@import "tailwindcss";
@import "@nuxt/ui";

:root {
	--ui-primary: #e47c44;
}

body {
	background: #ffffff;
	color: rgb(24 24 27);
}

html,
body,
a,
button,
[role="button"] {
	touch-action: manipulation;
}

@media print {
	[data-slot="viewport"],
	[data-slot="base"] {
		display: none !important;
	}
}
